.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shadows{
  box-shadow: 2px 7px 25px 15px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 7px 25px 15px rgba(0, 0, 0, 0.05);
}

.main-footer .bg-image{
  background-image: url("./components/assests/images/footer.jpg");
  z-index: -1;
}

.active{
  font-weight: bold;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  color: orange;

  .icon{
    background-color: orangered;
    color: white;
    padding:10px;

  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ///for modals */
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background: #f0f3f5;
  width: 75%;
  height: 70vh;
  margin: auto;
  z-index: 9999;
  border-radius: 10px;
  margin-top: 5%;
  overflow-y: scroll;
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-text {
  padding: 0 100px 0 50px;
  position: relative;
}
.modal-text h1 {
  margin: 20px 0 20px 0;
  font-size: 30px;
}
.modal-text p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
}

.modal-text button.close-modal {
  position: fixed;
  top: 15%;
  right: 16%;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 0 0;
  font-size: 20px;
}
.modal-text button.close-modal i {
  margin: 0;
}
/*------------popup--------*/
@media (max-width: 768px) {
  .modal,
  .overlay {
    overflow: scroll;
  }

  .modal .modal-img {
    margin: 50px 0 50px 0;
  }
  .modal-content {
    flex-direction: column;
  }
  .modal .right,
  .modal .left {
    padding: 0;
  }
}




