@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.containers {
  max-width: 85%;
  margin: auto;
}
.hover-text {
  position: relative;
  text-decoration: none;
  transition: 0.5s linear;
}
.hover-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #f5810c;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover-text:hover {
  color: #ff9900;
}

.hover-text:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.active {
  color: #ff9900 !important;
}

.image-hover {
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  z-index: -1;
}

.image-hover:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

/* ////for study trip section/// */
.hero_section {
  overflow: hidden;
}

.hero_section .background_image {
  z-index: -1;
  background-image: url("./components/assests/images/hero/2.jpg");
}

/* ////for distant section/// */

.distant_icon_2 {
  width: 196px;
  height: 266px;
  background-image: url("./components/assests/images/icon-dots-2.png");
}

.distant_icon_1 {
  top: 100px;
  width: 207px;
  height: 350px;
  background-image: url("./components/assests/images/icon-e.png");
}

.heading-xl::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100% !important;
  height: 100% !important;
  background-image: url("./components/assests/images/Title/page-title.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.heading-xl::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100% !important;
  height: 100% !important;
  color: white !important;
  z-index: 1;
  background-color: rgba(29, 37, 47, 0.693);
}

